
    {% for briefcase in briefcases %}
            <li class="py-4">
                <a href="#" class="block hover:bg-gray-100 dark:hover:bg-gray-700 p-4 rounded-lg transition">
                        <div class="flex-1 min-w-0">
                            <p class="text-lg font-medium text-gray-900 dark:text-white truncate">
                                {{ briefcase.title }}
                            </p>
                            <p class="text-sm text-gray-500 dark:text-gray-400">
                                Created on: {{ briefcase.created_at|date:"M d, Y" }}
                            </p>
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
        
    